.mat-drawer-container {
  height: 100vh;
}

.menu-icon {
  cursor: pointer;
}

.sidenav {
  width: 300px;
}

.logo{
  height: 40px;
}

.logo-container {
  border-bottom: 1px solid #ccc;
  padding: 0px 16px;
  min-height: 56px;
  display: flex;
  align-items: center;
}

mat-toolbar-row,
mat-toolbar {
  min-height: 56px;
  height: 56px;
}

ul {
  list-style-type: none;
  padding-left: 0px;
  margin: 0;
  > li {
    padding: 0px 16px;
    height: 48px;
    gap: 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
    &:hover {
      background-color: #f5f5f5;
    }
  }
}

.router-container {
  padding-left: 56px;
  padding-right: 56px;
  padding-top: 16px;
}
